In [1]:
import os
import csv
import pandas as pd
from string import punctuation
from collections import Counter

In [6]:
count = 1
for filenames in os.walk('../data/wikipedia_txt'):
    for filename in filenames[2]:
        text = open('../data/wikipedia_txt/'+filename, 'rU').read()
        text = text.replace('--', ' ')
        words = [w.strip(punctuation) for w in text.split()]
        word_count = Counter(words).most_common()

        with open('baseline_count.csv', 'a+') as csv_file:
            writer = csv.writer(csv_file) 
            for w in word_count:
                writer.writerow([filename[:-4], w[0], w[1]])
                
        if count % 30 == 0 or count == 2974:
            if count == 2974:
                count = 3000
            print('*'*int(count/30)+'-'*(100-int(count/30))+' '+str(int(count/30))+'%', end='\r', flush=True)
        count += 1

In [7]:
wc_file = pd.read_csv('baseline_count.csv', names = ['article', 'word', 'count'])
wc_file[:5]

                  article        word  count
0  Fox_Television_Studios         the     10
1  Fox_Television_Studios         Fox      9
2  Fox_Television_Studios         and      7
3  Fox_Television_Studios  Television      6
4  Fox_Television_Studios          of      6

In [8]:
labels_file = pd.read_csv('../data/comp5046-labels.csv', index_col='article', names = ['web','article','label'], usecols=['article','label'] )
labels_file[:5]

                                                      label
article
WWEG                                          Entertainment
Vitamin_String_Quartet                        Entertainment
Vidyasagar_Evening_College                        Education
University_of_Belgrade_Faculty_of_Philosophy      Education
Today's_Best_Hits                             Entertainment

In [9]:
word_table = wc_file.pivot_table(values='count', index='article', columns='word', fill_value=0)
word_table[:5]

word,0,"0,4","0,8",0-0,0-06-058033-X,0-1,0-1-0,0-10,0-12,0-17,...,麗晶酒店,黑龙江大学,龍堡國際賓館,龍少年月刊,龍華科技大學,（Beijing）and,（Wuhan）,（共同建设）,ＡＺＵＫＩ七,�Authorised
article,,,,,,,,,,,,,,,,,,,,,
102.1_Bay_Radio,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107_Squadron_(Israel),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
109th_Infantry_Division_(German_Empire),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10th_Division_(German_Empire),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10th_Parachute_Battalion_(United_Kingdom),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
data = pd.merge(labels_file, word_table, left_index = True, right_index = True)
data[:5]

,label_x,0,"0,4","0,8",0-0,0-06-058033-X,0-1,0-1-0,0-10,0-12,...,麗晶酒店,黑龙江大学,龍堡國際賓館,龍少年月刊,龍華科技大學,（Beijing）and,（Wuhan）,（共同建设）,ＡＺＵＫＩ七,�Authorised
article,,,,,,,,,,,,,,,,,,,,,
102.1_Bay_Radio,Entertainment,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107_Squadron_(Israel),Public administration,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
109th_Infantry_Division_(German_Empire),Public administration,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10th_Division_(German_Empire),Public administration,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10th_Parachute_Battalion_(United_Kingdom),Public administration,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.to_csv('baseline_training_data.csv')